<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Room:</strong>
  <%= @patient.room %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
